@font-face {
  font-family: 'edfont';
  font-style: normal;
  font-display: swap;
  src: url('/fonts/edfont.eot');
  src: url('/fonts/edfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/edfont.woff2') format('woff2'),
    url('/fonts/edfont.woff') format('woff');
}

.edfont {
  font-family: 'edfont';
}
